<div class="d-flex align-items-center justify-content-center" style="height: 400px;">
  <div>
    <h4 class="text-center">本当に退会しますか？</h4>
    <p class="text-center mt-3">
      退会すると、会員情報や<br>
      これまでのレンタル履歴が<br>
      閲覧できなくなります。
    </p>
    <div class="text-center mt-3">
      <%= link_to "退会しない", customers_my_page_path, class: "btn btn-success" %>
      <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger ml-3" %>
    </div>
  </div>
</div>


