<div class="d-flex align-items-center justify-content-center" style="height: 60vh;">
  <div>
    <p class="text-center">
      お問い合わせが完了しました。<br>
      担当スタッフよりメールをお送りいたします。<br>
      しばらくお待ちくださいませ。
    </p>
    <div class="text-center mt-5">
      <%= link_to "トップページへ戻る", root_path %>
    </div>
  </div>
</div>