<div>
  <h1 class="text-center my-5">ようこそ、福祉用具コレクションへ</h1>
  <p class="text-center" style="line-height: 30px;">
    福祉用具コレクションは、<br>
    数多くの福祉用具レンタル品を取り扱う<br>
    福祉用具専門サイトです。
  </p>
  <p class="text-center" style="line-height: 30px;">
    会員登録をしていただき、「身体状況チェック」に入力することで、<br>
    ご自身の身体状況に適した福祉用具を見つけることができます。
  </p>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-8">
    <h2 class="text-center pt-5 border-top" style="margin-top: 100px">
      福祉用具コレクション<br>
      便利な6つのサービス
    </h2>
    <ul class="row d-flex" style="list-style: none;">
      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-gift border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">豊富な品揃え</h4>
        <p class="text-center mt-4">業界でもトップクラスの品揃えを誇ります。数多くの福祉用具を揃えることで、よりお客様にフィットした福祉用具を提供することが可能です。</p>
      </li>

      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-shipping-fast border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">最短で翌日お届け</h4>
        <p class="text-center mt-4">ご注文頂いた商品を、最短で翌日お届けします。スピーディーにお届けすることが、お客様満足度の向上につながると考えます。</p>
      </li>

      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-search border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">おすすめ商品の選定</h4>
        <p class="text-center mt-4">ユーザー登録時に「身体状況チェック」を行うことで、おすすめ商品を見つけることができます。おすすめ商品は、ヘッダーのメニューから参照することができます。</p>
      </li>

      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-wrench border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">無料のメンテナンス</h4>
        <p class="text-center mt-4">安心してご利用いただけるように、約半年に1度、無料の定期点検を行います。不具合等がみられた場合、無料で修理・交換をします。</p>
      </li>

      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-undo-alt border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">７日間のお試し期間</h4>
        <p class="text-center mt-4">全てのレンタル商品には7日間の無料お試し期間があります。お試し期間中にご返却いただくと、レンタル料金はかかりません。</p>
      </li>

      <li class="p-5 col-lg-4 col-sm-6">
        <div class="text-center">
          <i class="fas fa-comment border border-info text-info rounded-circle p-4" style="font-size: 80px;"></i>
        </div>
        <h4 class="text-center mt-4">多様な口コミ</h4>
        <p class="text-center mt-4">実際に福祉用具をレンタルしたユーザーのリアルな口コミを多数掲載しています。様々な意見を掲載することで、福祉用具選びの参考になると考えています。</p>
      </li>
    </ul>
  </div>
</div>

<div class="text-center">
  <%= link_to "さっそく商品を見にいく", items_path, class: "btn btn-outline-info btn-lg" %>
</div>

<!--<li>最短で翌日お届け</li>-->
<!--<li>おすすめ商品の選定</li>-->
<!--<li>無料のメンテナンス</li>-->
<!--<li>７日間のお試し期間</li>-->
<!--<li>ユーザーによる多様な口コミ</li>-->