<div>
  <h1 class="text-center my-5">ようこそ、福祉用具コレクションへ</h1>
  <p class="text-center" style="line-height: 30px;">
    福祉用具コレクションは、<br>
    数多くの福祉用具レンタル品を取り扱う<br>
    福祉用具専門サイトです。
  </p>
  <p class="text-center" style="line-height: 30px;">
    会員登録をしていただき、「身体状況チェック」に入力することで、<br>
    ご自身の身体状況に適した福祉用具を見つけることができます。
  </p>
</div>

