<div id ="container" style="z-index:1;">
  <div id="theTarget" style="z-index:1;">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>
<div class="mt-5">
  <h5 class="text-center" style="line-height: 60px">
    福祉用具コレクションへようこそ。<br>
    このサイトでは、ご自身の身体状況に合った<br>
    福祉用具を見つけることができます。
  </h5>
</div>

