<h4>管理者トップページ</h4>
<div class="mx-auto d-flex align-items-center col-6" style="height: 400px;">
  <%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-lg btn-outline-primary py-3", style: "width: 100%;", value: "管理者ログイン" %>
</div>
<p>一般のお客様は<%= link_to "こちら", root_path %></p>