<div class="row d-flex justify-content-center">
  <div class="col-11">
    <ul class="list-group">
      <% genres.each do |genre| %>
          <li style="list-style: none;">
            <%= link_to items_path(search: "genre", id: genre.id), class: "list-group-item list-group-item-action" do %>
              <%= genre.name %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>